body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(
    90deg,
    #000814 0%,
    #001d3d 20%,
    #003566 45%,
    #ffc300 70%,
    #ffd60a 100%);
    background-size:300% 300%;
    animation:gradientMove 12s ease infinite;
    color:white;
    overflow-x:hidden;
}

@keyframes gradientMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

button {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#3b82f6,#9333ea);
animation:bg 8s infinite alternate;
}

@keyframes bg{
from{filter:hue-rotate(0deg);}
to{filter:hue-rotate(60deg);}
}

.hero h1{
font-size:55px;
}

.hero span{
color:yellow;
}

button{
padding:12px 30px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:18px;
margin-top:20px;
}

#skills{
padding:80px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
width:220px;
height:220px;
position:relative;
transform-style:preserve-3d;
transition:1s;
cursor:pointer;
}

.card.flip{
transform:rotateY(180deg);
}

.front,.back{
position:absolute;
width:100%;
height:100%;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
box-sizing:border-box;
backface-visibility:hidden;
font-size:22px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);
box-shadow:0 0 20px rgba(255,255,255,.1);
}

.back{
transform:rotateY(180deg);
background:#2563eb;
}

#contact{
padding:80px;
text-align:center;
}